<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#"> Precautions Of Skin Diseases</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto" style="margin-left:500px;">
              
                <li class="nav-item"><a class="nav-link" routerLink="/skin" >Skin</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/skinrashes"> Skin rashes</a></li>
                <li class="nav-item"><a class="nav-link active"  routerLink="/#">
                        Pimples</a></li>
                <li class="nav-item" ><a class="nav-link  active" (click)="logout()">{{username}}&nbsp;<span
                  class="fa fa-sign-out text-white fa-lg"></span></a></li>
            </ul>
           
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="jumbotron col-sm-12 col-12">
        <h1 >PIMPLES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
   
    </div>  
    
          <h3 class="col-12 "><b>Water</b></h3>
          <p class="col-12 ">Drinking water has benefits,for the skin and for the body's overall health.it keeps the body hydrated,helping skin to look firm and plump.it flushes harmful toxins from the system,preventing the problem.you should aim to drink 5 to 8 glasses of water a day to reap the benefits.
          
  </div>
  <div class="row">

  </div>
    <h3><b>Protect Your Skin From The Sun</b></h3>
    <p>The sun's UV rays can actually cause pimples to become even redder and inflamed than before.it is importtant to protect your skin from sunlight by wearing a prrotective hat and applying a sunscreen with an SPF of 30 or higher.Be aware that some sunscreens can be oily and may clog the pores,so look for products that state "nonecomedogenic" on the label.
      <h3><b>Use Face Masks Once A Week</b></h3>
      <p>Skin exfoliators and face masks are great products which can be very beneficialfor the skin.Exfoliators remove dead skin cells while effectively cleansing the skin,but can be dry out and irriate the skin if used too often especilly on pimple prone skin.Face masks are great for cleansing impurities and claming the skin and can turn your regular skin care routine into a spa-like experience.Yet again,they should be limited to about once a week,as they may contain harsher ingredients that are not intended for everyday use.
        <h3><b>Popping Pimples</b></h3>
        <p>Hands come into contact with more dirt and bacteria throgthout the day than any other part of the body,which is why you should avoid touching your face at all costs.In addition to spreading bacteria and risking infection,touching spots and pimples can cause them to become irriated and inflamed'Thus worsening their appearence and prolonging healing time.It is very easy to touch your face without being aware of what you are doing.Be wary of propping your cheek or chin up with your hand.When sitting at a desk or table,or of resting your face on your hand in bed at night.<p>
          
  